@import "tailwindcss";


@theme {
  --font-poppin: "Poppins", sans-serif; 
  --font-inter: "Inter", sans-serif; 


  /* color part Satrt  */

  --color-black:  #000000;
  --color-primery:  #DB4444;
  --color-borderC:  #D9D9D9;
  --color-productC:  #F5F5F5;
}